<h1>Softloop online PMS</h1>
<p>
This is the home page for the
<a href="http://nbdd.heroku.com/">Softloop online project management system</a>
sample application.
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>