<% form_tag(:controller => "contact", 
			:action => "new") do |f| %>
	<div class="field">
		<%= f.label :companyName %><br />
		<%= f.text_field :companyName %>
	</div>
	<div class="actions">
		<%= f.submit "New Contact" %>
	</div>
<% end %>