<table class="profile">
	<tr>
		<td class="main">
			<h2>
			<%= @user.name %>'s profile
			</h2>
		</td>
	</tr>
	<tr>
		<% if @user.clients.size != 0 %>
		<td class="sidebar round">
			<%= link_to 'Clients', user_clients_path(@user) %>

		</td>
		<% else %>
		<td class="sidebar round">	
			<strong>There is no client. pls add one</strong> <br />
			
		</td>
		<td class="sidebar ">	
			<%= link_to "add client", add_client_path, :class => " round" %>	
					
		</td>
		<% end %>
		
	</tr>	
</table>