<table class="profile">
	<tr>
		<td class="main">
			<h2>
			<%= @user.name %>
			</h2>
		</td>
	</tr>
	<tr>
		
		<% if @user.has_contact? %>
		<td class="sidebar round">
			<%= render :partial => "contact_form"%>>
		</td>
		<% else %>
		<td class="sidebar round">	
			<strong>There is no contact. pls add one</strong> <br />
			
		</td>
		
		<% end %>
		<td class="">	
			<%= link_to "add contact", add_contact_path, :class => " round" %>			
		</td>
	</tr>	
</table>