<table class="profile">
	<tr>
		<td class="main">
			<h2>
			<%= @user.name %>
			</h2>
		</td>
	</tr>
	<tr>
		
		<% if @user.has_client? %>
		<td class="sidebar round">
			<%= render :partial => "client_form"%>>
		</td>
		<% else %>
		<td class="sidebar round">	
			<strong>There is no client. pls add one</strong> <br />
			
		</td>
		<td class="sidebar ">	
			<%= link_to "add client", add_client_path, :class => " round" %>			
		</td>
		<% end %>
		
	</tr>	
</table>