# #Aufruf  
# <%= render ( :partial => "Blogentry",  
#              :object  => Blog.find(@params[:blogpost_id]) %>  
# #Partial: app/views/blog/_blogentry.<b style="color:black;background-color:#ff9999">rhtml</b>  
# <div id="blogentry">  
#     <div id="blogheadline"><%=h (blogentry.headline) %></div>  
#     <div id="blogtext"><%= blogentry.text %></div>  
# </div>  