<div id="header" class="round">
<%= image_tag("rails.png", :alt => "Softloop Online", :class => "round hearder_title")%>
<ul class="navigation round">
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Help", '#' %></li>
<li><%= link_to "Sign in", signin_path %></li>
</ul>
</div>